<a href="https://colab.research.google.com/github/ricospeloacaso/python_para_investimentos/blob/master/08_An%C3%A1lise_de_Empresas_com_Python_no_Google_Colab_Python_para_Investimentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ricos pelo Acaso

Link para o vídeo: https://youtu.be/e_ZRDG4F4ZA

# Importando Bibliotecas

In [0]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

# Obtendo e tratando os dados

In [0]:
url = 'https://www.fundamentus.com.br/resultado.php'
df = pd.read_html(url, decimal=',', thousands='.')[0]

In [0]:
df

     Papel  Cotação      P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
15   EVEN3     6.93  -408.20  ...  1.668040e+09               0.83        -0.0620
23   ANIM3    17.26  -198.92  ...  6.904350e+08               1.80         0.0812
24   SQIA3    11.95  -184.12  ...  4.314610e+08               0.20         0.2470
29   BTOW3    49.21   -80.91  ...  5.734430e+09               1.12        -0.0819
53   VALE3    35.19   -27.87  ...  1.614800e+11               0.37         0.1569
..     ...      ...      ...  ...           ...                ...            ...
866  OMGE3    26.99   164.00  ...  2.816510e+09               1.42         0.6907
870  NTCO3    25.17   192.25  ...  3.362340e+09               3.21         0.0000
874  BEEF3     7.73   232.32  ... -2.816620e+08             -37.20         0.1844
876  ALSO3    24.97   301.28  ...  6.443630e+09               0.00         0.1860
882  CEAB3     6.35  2013.75  ...  2.739570e+06               0.58        -0.9990

[209 rows x 21 columns]

In [0]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

# Analisando os dados

In [0]:
df = df[df['Liq.2meses'] > 1000000]

In [0]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values

In [0]:
ranking

     pos EV/EBIT   ROIC
0      1   SMLS3  WIZS3
1      2   PSSA3  PSSA3
2      3   ENAT3  TOTS3
3      4   WIZS3  SMLS3
4      5   CVCB3  ODPV3
..   ...     ...    ...
145  146   HYPE3  JHSF3
146  147   STBP3  BRPR3
147  148   EZTC3  LOGG3
148  149   RADL3  COGN3
149  150   SUZB3  MEAL3

[150 rows x 3 columns]

In [0]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [0]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [0]:
t = pd.concat([a,b])
t

     AALR3  ABEV3  AGRO3  ALPA4  ALSO3  ...  VVAR3  WEGE3  WIZS3  WSON33  YDUQ3
pos  107.0   93.0   79.0  136.0  102.0  ...   67.0  145.0    4.0    32.0   63.0
pos  131.0   10.0   89.0   21.0  141.0  ...  105.0   14.0    1.0    28.0   15.0

[2 rows x 154 columns]

In [0]:
rank = t.dropna(axis=1).sum()
rank

AALR3     238.0
ABEV3     103.0
AGRO3     168.0
ALPA4     157.0
ALSO3     243.0
          ...
VVAR3     172.0
WEGE3     159.0
WIZS3       5.0
WSON33     60.0
YDUQ3      78.0
Length: 144, dtype: float64

In [0]:
rank.sort_values()[:15]

PSSA3      4.0
WIZS3      5.0
SMLS3      5.0
VALE3     19.0
SAPR3     32.0
GOLL4     32.0
TGMA3     34.0
SAPR11    36.0
SAPR4     37.0
ALUP11    37.0
MRFG3     37.0
RAPT4     41.0
LEVE3     45.0
TEND3     49.0
CVCB3     51.0
dtype: float64